@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

.app {
  min-height: 100%;
  min-width: 100%;
  background-image: url("./assets/winter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: all 1s ease-in;
}

.app.warm {
  background-image: url("./assets/lake.jpg");
  background-size: cover;
  transition: 1s ease-out;
}

body {
  font-family: "montseratt", sans-serif;
}

main {
  min-height: 100vh;
  overflow-y: auto;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.7)
  );
}

.wrapper {
  margin: 0 1rem;
  margin-top: 1rem;
}

.search-box {
  width: 100%;
  margin-bottom: 1rem;
}

.search-box .search-bar {
  margin: 0 auto;
  font-size: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: block;
  width: 100%;
  padding: 1rem;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 5px 6px 3px rgba(34, 33, 33, 0.527);
  transition: 0.4s ease;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.959);
}

.con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  height: calc(100vh - 7rem);
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 5px 6px 3px rgba(34, 33, 33, 0.527);
  text-align: center;
  color: #fff;
  padding: 0 1rem;
}

.location-box, .weather-box {
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
  font-family: "Montserrat", sans-serif;
}

.location-box .location {
  font-size: 60px;
  font-weight: 500;
}

.location-box .date {
  font-size: 15px;
  font-weight: 300;
}

.weather-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-box .temp {
  font-size: 95px;
  font-weight: 600;
}

.weather-box .weather {
  font-size: 40px;
  font-weight: 500;
  text-transform: capitalize;
  margin-left: 1rem;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .con {
    width: 100%;
  }

  .location-box .location {
    font-size: 65px;
  }

  .location-box .date {
    font-size: 13px;
  }

  .weather-box .temp {
    font-size: 90px;
  }

  .weather-box .weather {
    font-size: 55px;
    margin-left: 0;
  }

  .wu-128 {
    width: 90px;
    height: 90px;
  }
}
